assets/wallpapers/*.png filter=lfs diff=lfs merge=lfs -text
assets/wallpapers/*.jpg filter=lfs diff=lfs merge=lfs -text
assets/wallpapers/*.jpeg filter=lfs diff=lfs merge=lfs -text
assets/wallpapers/*.webp filter=lfs diff=lfs merge=lfs -text